:root {
  background-color: #eebec6;
  font-style: italic;
}

.mathe {
  background-color: #84c3fe;
}
.deutsch {
  background-color: #fe9d9d;
}
.englisch {
  background-color: #77cc87;
}
.informatik {
  background-color: #f1f8be;
}
.spanisch {
  background-color: #fb93b2;
}
.erdkunde {
  background-color: #75a174;
}
.sport {
  background-color: #b8b8b8;
}
.musik {
  background-color: #f4f4f4;
}
.sowi {
  background-color: #aac8ae;
}
.physik {
  background-color: #cda5ec;
}
.chemie {
  background-color: #edfa95;
}
.biologie {
  background-color: #9affd5;
}
.philosophie {
  background-color: #81b5d6;
}
