:root {
  background-color: #eebec6;
}

.mathe {
  background-color: #ffdcdc;
}
.deutsch {
  background-color: #dcf0ff;
}
.englisch {
  background-color: #d4ffdc;
}
.informatik {
  background-color: #f0dcff;
}
.spanisch {
  background-color: #f0dcff;
}
.erdkunde {
  background-color: #f0dcff;
}
.sport {
  background-color: #f0dcff;
}
.musik {
  background-color: #f0dcff;
}
.sowi {
  background-color: #f0dcff;
}
.physik {
  background-color: #f0dcff;
}
.chemie {
  background-color: #f0dcff;
}
.biologie {
  background-color: #f0dcff;
}
.philosophie {
  background-color: #f0dcff;
}
